	USE [master]
	GO

	CREATE DATABASE [ManageCourseCenter]
	GO

	USE [ManageCourseCenter]
	GO

	CREATE TABLE [dbo].[Parent](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[full_name] [nvarchar](100) NOT NULL,
		[email] [nvarchar](100) NOT NULL,
		[password] [nvarchar](128) NOT NULL,
		[img_url] [nvarchar](max) NULL,
		[phone] [varchar](10) NOT NULL,
		[birth_day] [date] NOT NULL,
		[gender] [int] NOT NULL,
		[role] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Children](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[parent_id] [int] FOREIGN KEY REFERENCES [dbo].[Parent]([id]) NOT NULL,
		[full_name] [nvarchar](100) NOT NULL,
		[username] [nvarchar](100) NOT NULL,
		[password] [nvarchar](128) NOT NULL,
		[img_url] [nvarchar](max) NOT NULL,
		[birth_day] [date] NOT NULL,
		[gender] [int] NOT NULL,
		[role] [int] NOT NULL,
		[status] [int] NOT NULL,
	 )
	GO

	CREATE TABLE [dbo].[Teacher](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[full_name] [nvarchar](100) NOT NULL,
		[email] [nvarchar](100) NOT NULL,
		[password] [nvarchar](128) NOT NULL,
		[img_url] [nvarchar](max) NOT NULL,
		[phone] [varchar](10) NOT NULL,
		[birth_day] [date] NOT NULL,
		[gender] [int] NOT NULL,
		[role] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Course](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[name] [nvarchar](100) NOT NULL,
		[description] [nvarchar](max) NULL,
		[img_url] [nvarchar](max) NOT NULL,
		[open_form_time] [datetime] NOT NULL,
		[close_form_time] [datetime] NOT NULL,
		[price] [float] NULL,
		[level] [int] NOT NULL,
		[total_slot] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[AcademicTranscript](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[teacher_id] [int] FOREIGN KEY REFERENCES [dbo].[Teacher]([id]) NOT NULL,
		[course_id] [int] FOREIGN KEY REFERENCES [dbo].[Course]([id]) NOT NULL,
		[children_id] [int] FOREIGN KEY REFERENCES [dbo].[Children]([id]) NOT NULL,
		[quiz_1] [decimal](3,1) CHECK([quiz_1] >= 0.0 AND [quiz_1] <= 10.0) NOT NULL,
		[quiz_2] [decimal](3,1) CHECK([quiz_2] >= 0.0 AND [quiz_2] <= 10.0) NOT NULL,
		[midterm] [decimal](3,1) CHECK([midterm] >= 0.0 AND [midterm] <= 10.0) NOT NULL,
		[final] [decimal](3,1) CHECK([final] >= 0.0 AND [final] <= 10.0) NOT NULL,
		[average] [decimal](3,1) NOT NULL,
		[status] [int] NOT NULL,
	 )
	GO

	CREATE TABLE [dbo].[Class](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[course_id] [int] FOREIGN KEY REFERENCES [dbo].[Course]([id]) NOT NULL,
		[teacher_id] [int] FOREIGN KEY REFERENCES [dbo].[Teacher]([id]) NOT NULL,
		[name] [nvarchar](100) NOT NULL,
		[start_date] [date] NOT NULL,
		[end_date] [date] NOT NULL,
		[total_amount] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Cart](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[parent_id] [int] FOREIGN KEY REFERENCES [dbo].[Parent]([id]) NOT NULL,
		[status] [int] NOT NULL,
	 )
	GO

	CREATE TABLE [dbo].[CartItem](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[cart_id] [int] FOREIGN KEY REFERENCES [dbo].[Cart]([id]) NOT NULL,
		[course_id] [int] FOREIGN KEY REFERENCES [dbo].[Course]([id]) NOT NULL,
		[class_id] [int] FOREIGN KEY REFERENCES [dbo].[Class]([id]) NOT NULL,
		[children_id] [int] FOREIGN KEY REFERENCES [dbo].[Children]([id]) NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[ClassTime](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[class_id] [int] FOREIGN KEY REFERENCES [dbo].[Class]([id]) NOT NULL,
		[day_in_week] [varchar](9) NOT NULL,
		[star_time] [nvarchar](10) NOT NULL,
		[end_time] [nvarchar](10) NOT NULL,
	 )
	GO

	CREATE TABLE [dbo].[Equipment](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[name] [nvarchar](100) NOT NULL,
		[supplier] [nvarchar](100) NOT NULL,
		[quantity] [int] CHECK([quantity] >= 0.0) NOT NULL,
		[description] [nvarchar](max) NULL,
		[type] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Manager](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[full_name] [nvarchar](100) NOT NULL,
		[email] [nvarchar](100) NOT NULL,
		[password] [nvarchar](128) NOT NULL,
		[img_url] [nvarchar](max) NOT NULL,
		[phone] [varchar](10) NOT NULL,
		[birth_day] [date] NOT NULL,
		[gender] [int] NOT NULL,
		[role] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Room](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[floor] [int] NOT NULL,
		[room_no] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[EquipmentActivity](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[manager_id] [int] FOREIGN KEY REFERENCES [dbo].[Manager]([id]) NOT NULL,
		[equipment_id] [int] FOREIGN KEY REFERENCES [dbo].[Equipment]([id]) NOT NULL,
		[room_id] [int] FOREIGN KEY REFERENCES [dbo].[Room]([id]) NOT NULL,
		[operate_time] [datetime] NOT NULL,
		[finished_time] [datetime] NULL,
		[description] [nvarchar](max) NULL,
		[action] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[EquipmentReport](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[sender_id] [int] FOREIGN KEY REFERENCES [dbo].[Teacher]([id]) NOT NULL,
		[room_id] [int] FOREIGN KEY REFERENCES [dbo].[Room]([id]) NOT NULL,
		[equipment_id] [int] FOREIGN KEY REFERENCES [dbo].[Equipment]([id]) NOT NULL,
		[description] [nvarchar](max) NULL,
		[send_time] [datetime] NOT NULL,
		[close_time] [datetime] NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[ChildrenClass](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[class_id] [int] FOREIGN KEY REFERENCES [dbo].[Class]([id]) NOT NULL,
		[children_id] [int] FOREIGN KEY REFERENCES [dbo].[Children]([id]) NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Feedback](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[children_class_id] [int] FOREIGN KEY REFERENCES [dbo].[ChildrenClass]([id]) NOT NULL,
		[course_rating] [int] CHECK([course_rating] >= 0 AND [course_rating] <= 5) NOT NULL,
		[teacher_rating] [int] CHECK([teacher_rating] >= 0 AND [teacher_rating] <= 5) NOT NULL,
		[equipment_rating] [int] CHECK([equipment_rating] >= 0 AND [equipment_rating] <= 5) NOT NULL,
		[description] [nvarchar](max) NULL,
	)
	GO

	CREATE TABLE [dbo].[Payment](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[cart_id] [int] FOREIGN KEY REFERENCES [dbo].[Cart]([id]) NOT NULL,
		[create_time] [datetime] NOT NULL,
		[paid_time] [datetime] NULL,
		[method] [int] NOT NULL,
		[status] [int] NOT NULL,
	)
	GO

	CREATE TABLE [dbo].[Schedule](
		[id] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
		[teacher_id] [int] FOREIGN KEY REFERENCES [dbo].[Teacher]([id]) NOT NULL,
		[children_class_id] [int] FOREIGN KEY REFERENCES [dbo].[ChildrenClass]([id]) NOT NULL,
		[room_id] [int] FOREIGN KEY REFERENCES [dbo].[Room]([id]) NOT NULL,
		[start_time] [datetime] NOT NULL,
		[end_time] [datetime] NOT NULL,
		[attendance] [int] NOT NULL,
	)
	GO

	-- Dump data for [Parent] table

	-- Dump data for [Children] table

	-- Dump data for [Teacher] table

	-- Dump data for [Course] table

	-- Dump data for [AcademicTranscript] table
	INSERT INTO [dbo].[AcademicTranscript] ([teacher_id], [course_id], [children_id], [quiz_1], [quiz_2], [midterm], [final], [average], [status])
	VALUES 
		(1, 1, 1, 8.5, 7.8, 9.2, 8.7, 8.3, 1),
		(1, 1, 2, 7.9, 8.2, 9.0, 8.5, 8.4, 1),
		(1, 1, 3, 9.0, 8.5, 8.8, 9.2, 8.9, 1),
		(1, 1, 4, 8.7, 9.1, 8.4, 9.0, 8.8, 1),
		(1, 1, 5, 8.2, 7.9, 8.9, 8.4, 8.3, 1);

	-- Dump data for [Class] table
	INSERT INTO [dbo].[Class] ([course_id], [teacher_id], [name], [start_date], [end_date], [total_amount], [status])
	VALUES 
		(1, 1, 'Introduction to Robotics - Class A', '2024-03-07', '2024-04-07', 30, 1),
		(1, 2, 'Introduction to Robotics - Class B', '2024-03-07', '2024-04-07', 30, 1),
		(1, 3, 'Introduction to Robotics - Class C', '2024-03-07', '2024-04-07', 30, 1),
		(1, 4, 'Introduction to Robotics - Class D', '2024-03-07', '2024-04-07', 30, 1),
		(1, 5, 'Introduction to Robotics - Class E', '2024-03-07', '2024-04-07', 30, 1);

	-- Dump data for [Cart] table
	INSERT INTO [dbo].[Cart] ([parent_id], [status])
	VALUES 
		(1, 1),
		(2, 1),
		(3, 1),
		(4, 1),
		(5, 1);

	-- Dump data for [ClassTime] table
	INSERT INTO [dbo].[ClassTime] ([class_id], [day_in_week], [star_time], [end_time])
	VALUES 
		(1, 'Monday', '08:00:00', '10:00:00'),
		(2, 'Tuesday', '10:30:00', '12:30:00'),
		(3, 'Wednesday', '13:00:00', '15:00:00'),
		(4, 'Thursday', '15:30:00', '17:30:00'),
		(5, 'Friday', '18:00:00', '20:00:00');

	-- Dump data for [Equipment] table

	-- Dump data for [Manager] table
	INSERT INTO [dbo].[Manager] ([full_name], [email], [password], [img_url], [phone], [birth_day], [gender], [role], [status])
	VALUES 
		('Test Owner', 'testowner@gmail.com', '12345', 'img-link', '0234567890', '1990-01-15', 1, 1, 1),
		('Test Admin', 'testadmin@gmail.com', '12345', 'img-link', '0876543210', '1985-05-20', 2, 2, 1),
		('Test Staff', 'teststaff@gmail.com', '12345', 'img-link', '8554443333', '1980-12-10', 1, 3, 1);

	-- Dump data for [Room] table
	INSERT INTO [dbo].[Room] ([floor], [room_no], [status])
	VALUES 
		(1, 101, 1),
		(1, 102, 1),
		(2, 201, 1),
		(2, 202, 1),
		(3, 301, 1);

	-- Dump data for [EquipmentActivity] table

	-- Dump data for [EquipmentReport] table

	-- Dump data for [ChildrenClass] table
	INSERT INTO [dbo].[ChildrenClass] ([class_id], [children_id])
	VALUES
		(1, 1),
		(1, 2),
		(1, 3),
		(1, 4),
		(1, 5),
		(1, 6),
		(1, 7),
		(1, 8),
		(1, 9),
		(1, 10);


	-- Dump data for [Feedback] table

	-- Dump data for [Schedule] table
